
<form [formGroup]="formulario" (ngSubmit)="save($event)">

  <div formGroupName="fullname">
    <p>
      Name: {{ nameField.value }} - Valid: {{ nameField.valid }} - Invalid: {{ nameField.invalid }}
      <input
        [class.is-valid]="isNameFieldValid"
        [class.is-invalid]="isNameFieldInvalid"
        type="text"
        formControlName="namee"/>
      <button (click)="getValueName()" [disabled]="nameField.invalid">Obtener valor</button>
    </p>
    <div class="messages" [class.active]="isNameFieldInvalid">
      <p>
        <strong *ngIf="nameField.hasError('required')">El campo es requerido</strong>
        <strong *ngIf="nameField.hasError('maxlength')">El campo debe tener máximo 10 caracteres</strong>
        <strong *ngIf="nameField.hasError('pattern')">No debe contener caracteres especiales</strong>
        <!--1.- Para la parte de maxLength queda mejor que se coloque dirty en lugar de touched, esto porque si el usuario excede los 10 caracteres
          necesita dar click en otro lugar para que se muestre el mensaje, con dirty se muestra automáticamente-->
        <!--2.-  es una maravillosa técnica y es totalmente valida, una de las razones por que las a veces no uso dirty es que el usuario
          puede no terminar de digitar un campo y ya le estoy mostrando error, por ejemplo en un correo, puede que el usuario vaya a la mitad
          y ya le estoy diciendo que esta en un error.-->
      </p>
    </div>

    <p>
      Last: {{ lastField.value }} - Valid: {{ lastField.valid }} - Invalid: {{ lastField.invalid }}
      <input
        [class.is-valid]="lastField.touched && lastField.valid"
        [class.is-invalid]="lastField.touched && lastField.invalid"
        type="text"
        formControlName="last"/>
    </p>
    <div class="messages" [class.active]="lastField.touched && lastField.invalid">
      <p>
        <strong *ngIf="nameField.hasError('required')">El campo es requerido</strong>
        <strong *ngIf="nameField.hasError('maxlength')">El campo debe tener máximo 10 caracteres</strong>
        <strong *ngIf="nameField.hasError('pattern')">No debe contener caracteres especiales</strong>
      </p>
    </div>

  </div>

  <p>
    Email: {{ emailField.value }}
    <input type="email" formControlName="email"/>
  </p>
  <div class="messages" [class.active]="emailField.touched && emailField.invalid">
    <p>
      <strong *ngIf="emailField.hasError('required')">El campo es requerido</strong>
      <strong *ngIf="emailField.hasError('email')">Esto no es un email</strong>
    </p>
  </div>

  <p>
    Phone: {{ phoneField.value }}
    <input type="tel" formControlName="phone"/>
  </p>
  <div class="messages" [class.active]="phoneField.touched && phoneField.invalid">
    <p>
      <strong *ngIf="phoneField.hasError('required')">El campo es requerido</strong>
    </p>
  </div>

  <p>
    Color: {{ colorField.value }}
    <input type="color" formControlName="color"/>
  </p>

  <p>
    Date: {{ dateField.value }}
    <input type="date" formControlName="date"/>
  </p>

  <p>
    Age: {{ ageField.value }}
    <input type="number" formControlName="age"/>
  </p>
  <div class="messages" [class.active]="ageField.touched && ageField.invalid">
    <p>
      <strong *ngIf="ageField.hasError('required')">El campo es requerido</strong>
      <strong *ngIf="ageField.hasError('min')">Debes ser mayor de edad</strong>
      <strong *ngIf="ageField.hasError('max')">Debes ser menor de 100 años</strong>
    </p>
  </div>

  <p>
    Category: {{ categoryField.value }}
    <select formControlName="category">
      <option value="category-1">Categoria 1</option>
      <option value="category-2">Categoria 2</option>
      <option value="category-3">Categoria 3</option>
      <option value="category-4">Categoria 4</option>
    </select>
  </p>

  <p>
    Tags: {{ tagField.value }}
    <select formControlName="tag" multiple size="2">
      <option value="tag-1">Tag 1</option>
      <option value="tag-2">Tag 2</option>
      <option value="tag-3">Tag 3</option>
      <option value="tag-4">Tag 4</option>
    </select>
  </p>

  <p>
    agree: {{ agreeField.value }}
    <input type="checkbox" formControlName="agree">
  </p>
  <div class="messages" [class.active]="agreeField.touched && agreeField.invalid">
    <p>
      <strong *ngIf="agreeField.hasError('required')">Tienes que aceptar los terminos</strong>
    </p>
  </div>

  <p>
    Gender: {{ genderField.value }}
    <label>
      <input name="gender" type="radio" formControlName="gender" value="male">
      male
    </label>
    <label>
      <input name="gender" type="radio" formControlName="gender" value="female">
      female
    </label>
    <label>
      <input name="gender" type="radio" formControlName="gender" value="Other">
      Other
    </label>
  </p>

  <p>
    Zone: {{ zoneField.value }}
    <label>
      <input name="zone" type="radio" formControlName="zone" value="zone-1">
      Zone 1
    </label>
    <label>
      <input name="zone" type="radio" formControlName="zone" value="zone-2">
      Zone 2
    </label>
    <label>
      <input name="zone" type="radio" formControlName="zone" value="zone-3">
      Zone 3
    </label>
  </p>

  <button type="submit">Enviar</button>

</form>

<hr>
<p>
  Month: {{ monthField.value }}
  <input type="month" [formControl]="monthField"/>
</p>

<p>
  Password: {{ passwordField.value }}
  <input type="password" [formControl]="passwordField"/>
</p>

<p>
  Range Price: {{ priceField.value }}
  <input type="range" [formControl]="priceField" min="0" max="100"/>
</p>

<p>
  Wekend: {{ weekField.value }}
  <input type="week" [formControl]="weekField"/>
</p>

<p>
  Date and time: {{ timefield.value }}
  <input type="datetime-local" [formControl]="timefield"/>
</p>

<p>

  Search: {{ searchField.value }}
  <input type="search" [formControl]="searchField"/>
</p>

<p>

  Description: {{ descriptionField.value }}
  <textarea type="text" [formControl]="descriptionField">
  </textarea>
</p>

<!--
  <code>
    <pre>
      {{ nameFied | json }}
    </pre>
  </code>
-->

