<p>category-form works!</p>
<form [formGroup]="formulario" (ngSubmit)="save()">
  <mat-card>
    <mat-card-header>
      <mat-label>
        Category
      </mat-label>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div col-xs>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
            <mat-error *ngIf="nameField.touched && nameField.invalid && nameField.hasError('required')">El campo es requerido</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div col-xs>
          <mat-form-field>
            <mat-label>Image</mat-label>
            <input matInput type="text" formControlName="image">
            <mat-error *ngIf="imageField.touched && imageField.invalid && imageField.hasError('required')">El campo es requerido</mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit">Guardar Categoria</button>
    </mat-card-actions>
  </mat-card>
</form>
